.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container h2 {
    margin-bottom: 20px;
}

.container form {
    margin-bottom: 20px;
}

.container label {
    font-weight: bold;
}

.container input[type="email"],
.container input[type="password"],
.container input[type="text"],
.container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.container .links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.container .links a {
    text-decoration: none;
    color: #007bff;
}

.container .links a:hover {
    text-decoration: underline;
}

.container button[type="submit"],
.container button[type="button"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.container button[type="submit"]:hover,
.container button[type="button"]:hover {
    background-color: #0056b3;
}

.remove-option {
    background-color: red;
    color: white;
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.choice {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.choice input[type="radio"] {
    display: none;
}

.choice label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #eee;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.choice input[type="radio"]:checked+label {
    background-color: #ffcc00;
    color: #fff;
}

#optionsList {
    list-style-type: none;
}